:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --befAftObstacle : url("https://i.pinimg.com/originals/e1/1b/a3/e11ba3abfe7c0f81b6f63cca050ba20a.png");
}

body {
    margin: 0;
}

/* Grid & Cases */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    grid-template-areas:
    "main";
}
.main {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1.8fr 0.2fr;
    grid-template-areas:
    "boardGrid playerUI"
    "weaponsUI weaponsUI";
    grid-area: main;
}
.boardGrid {
    grid-area: boardGrid;
    margin: auto;
}
.playerUI {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "player1Infos"
    "player2Infos";
    grid-area: playerUI;
}

.player1Infos {
    grid-area: player1Infos;
    background-color: #333140;
    color: white;
    display: grid;
    place-items: center;
}
.player2Infos {
    grid-area: player2Infos;
    background-color: #333210;
    color: white;
    display: grid;
    place-items: center;
}
.weaponsUI {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "weapon1Infos weapon2Infos weapon3Infos weapon4Infos";
    grid-area: weaponsUI;
}
.weapon1Infos {
    grid-area: weapon1Infos;
    background-color: #333280;
    color: white;
    display: grid;
    place-items: center;
}
.weapon2Infos {
    grid-area: weapon2Infos;
    background-color: #333230;
    color: white;
    display: grid;
    place-items: center;
}
.weapon3Infos {
    grid-area: weapon3Infos;
    background-color: #333260;
    color: white;
    display: grid;
    place-items: center;
}
.weapon4Infos {
    grid-area: weapon4Infos;
    background-color: #333339;
    color: white;
    display: grid;
    place-items: center;
}

#board {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid black;
    transform: rotateX(50deg) rotateZ(45deg);
    /*transform: rotateX(0deg);*/
    transform-style: preserve-3d;
    transition: 1s;
}

.isometric{
    transition: 1s;
    transform: rotateX(45deg) rotateZ(45deg);
}

.lines {
    display: flex;
    justify-content: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    height: 25px;
    width: 25px;
}

.obstacle,
.obstacle:after,
.obstacle:before {
    content: "";
    float: left;
    height: 25px;
    position: absolute;
    width: 25px;
}
/* Top face */
.obstacle {
    background-size: cover;
    position: relative;
    border-radius: 2px;
    -webkit-transform: translateZ(25px);
    -webkit-transform-style: preserve-3d;
}
/* Left face */
.obstacle:after {
    background-image: inherit;
    background-size: cover;
    -webkit-transform: rotateX(-90deg) translateY(25px);
    -webkit-transform-origin: 100% 100%;
}
/* Right face */
.obstacle:before {
    background-image: inherit;
    background-size: cover;
    -webkit-transform: rotateY(90deg) translateX(25px);
    -webkit-transform-origin: 100% 0;
}

.weapon {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px white;
    border: 1px solid black;
    background-color: gray;
    background-size: cover;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.weapon:hover {
    border: 3px solid black;
    background-color: white;
    animation: spin 1s infinite;
}
@keyframes spin{
    0%{transform: rotateZ(0deg)}
    100%{transform: rotateZ(360deg)}
}

.player1 {
    background-image: url("../assets/dungeon/characters/ninja.png");
}
.player2 {
    background-image: url("../assets/dungeon/characters/orc1.png");
}

.player {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px blue;
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.isometric .player {
    /*transition: 1s;*/
    transform: rotateX(0deg) rotateZ(-45deg) translateZ(20px) translateY(20px);
}

@media (min-width: 576px) {
    #board {
        border: 5px solid black;
    }
    .cell {
        height: 30px;
        width: 30px;
    }
    .obstacle {
        -webkit-transform: translateZ(30px);
    }
    .obstacle,
    .obstacle:after,
    .obstacle:before {
        height: 30px;
        width: 30px;
    }
    .obstacle:before {
        -webkit-transform: rotateY(90deg) translateX(30px);
    }
    .obstacle:after {
        -webkit-transform: rotateX(-90deg) translateY(30px);
    }
}


@media (min-width: 768px) {
    #board {
        border: 7px solid black;
    }
    .cell {
        height: 40px;
        width: 40px;
    }
    .obstacle {
        -webkit-transform: translateZ(40px);
    }
    .obstacle,
    .obstacle:after,
    .obstacle:before {
        height: 40px;
        width: 40px;
    }
    .obstacle:before {
        -webkit-transform: rotateY(90deg) translateX(40px);
    }
    .obstacle:after {
        -webkit-transform: rotateX(-90deg) translateY(40px);
    }
}


@media (min-width: 992px) {
    #board {
        border: 10px solid black;
    }
    .cell {
        height: 50px;
        width: 50px;
    }
    .obstacle {
        -webkit-transform: translateZ(50px);
    }
    .obstacle,
    .obstacle:after,
    .obstacle:before {
        height: 50px;
        width: 50px;
    }
    .obstacle:before {
        -webkit-transform: rotateY(90deg) translateX(50px);
    }
    .obstacle:after {
        -webkit-transform: rotateX(-90deg) translateY(50px);
    }
}


@media (min-width: 1200px) {
    #board {
        border: 13px solid black;
    }
    .cell {
        height: 60px;
        width: 60px;
    }
    .obstacle {
        -webkit-transform: translateZ(60px);
    }
    .obstacle,
    .obstacle:after,
    .obstacle:before {
        height: 60px;
        width: 60px;
    }
    .obstacle:before {
        -webkit-transform: rotateY(90deg) translateX(60px);
    }
    .obstacle:after {
        -webkit-transform: rotateX(-90deg) translateY(60px);
    }
}



.cellToMove {
    background-color: black;
}

.cellToMove:hover {
    cursor: pointer;
}

.player-card {
    background: white;
    width: 75%;
    height: 75%;
    display: inline-block;
    margin: auto;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
}

.player-image {
    position: relative;
    height: 50px;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.player-image img {
    width: 50%;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -150px;
}

.player-card-name {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}
