/* Grid & Cases */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    grid-template-areas:
    "main";
}
.main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 100vh;
    grid-template-areas:
    "player1 plateau player2";
    grid-area: main;
}
.plateau {
    grid-area: plateau;
}
.player1 {
    grid-area: player1;
    display: grid;
    place-items: center;
}
.player2 {
    grid-area: player2;
    display: grid;
    place-items: center;
}

.lignes {
    display: flex;
    justify-content: center;
}

.case {
    background-color: red;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgb(220, 157, 80);
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arme {
    background-color: yellow;
}

#grid {
    transform: rotateX(45deg) rotateZ(45deg);
}
