/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --primary: #424242;
    --secondary: #E73535;
    --third: #2B9FE2;
}

body {
    font-family: 'Source Code Pro', monospace;
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0;
}

.hidden {
    display: none;
}

.btn {
    padding: 0.75rem 1.5rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #234959;
    color: white;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.btn:focus, .btn:hover {
    background-color: #234959;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #234959;
}
/* Grid & Cases */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    grid-template-areas:
    "main";
}
.main {
    display: grid;
    background-image: linear-gradient(120deg, #344973 0%, #3E5159 100%);
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 9vh;
    grid-template-areas:
    "boardGrid playerUI"
    "weaponsUI weaponsUI";
    grid-area: main;
}
.boardGrid {
    grid-area: boardGrid;
    margin: auto;
}
.playerUI {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 91vh;
    grid-area: playerUI;
}

.playerTitle {
    background-color: #C1C7D9;
    height: 50px;
    width: 200px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-image-slice: 5;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url(../css/border.svg);
}

.playerCard {
    background: #C1C7D9;
    color: black;
    width: 95%;
    height: 40%;
    margin: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-image-slice: 5;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url(../css/border.svg);
    text-align: center;
    z-index: 9999;
}

.playerInfos {
    grid-area: playerInfos;
    background-color: #333140;
    display: flex;
    place-items: center;
}

.playerImg {
    background-size: cover;
    height: 25%;
    width: 25%;
}
.playerWeaponImg {
    background-size: cover;
    height: 15%;
    width: 15%;
}

.weaponsTitle {
    position: fixed;
    bottom: 7vh;
    left: 0.3vw;
    background-color: #4F638C;
    height: 50px;
    width: 200px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 7px;
    border-image-slice: 5;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url(../css/border.svg);
}

.weaponsUI {
    color: #dddddd;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    grid-area: weaponsUI;
}

.weaponUl {
    display: flex;
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

.weaponsUI li {
    display: flex;
    margin: 5px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-image-slice: 5;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url(../css/border.svg);
}

.weaponsUI li:nth-child(even) {
    background-color: #344059;
}

.weaponsUI li:nth-child(odd) {
    background-color: #4F638C;
}

.weaponImg {
    height: 75%;
    background-size: cover;
}

.battleInfos {
    position: fixed;
    justify-content: center;
    z-index: 1;
    top: 42%;
    left: 0;
    height: 75px;
    width: 75%;
    background-color: #dddddd;
    grid-area: boardGrid;
}

.battleInfosText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.battleInfos .attackerImg {
    height: 200px;
}
.battleInfos .bannerDmg {
    color: red;
    font-size: 30px;
}


#board {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #F2E6C2;
    transform: rotateX(45deg) rotateZ(45deg);
    transform-style: preserve-3d;
    transition: 1s;
}

.isometric{
    transform: rotateX(-45deg) rotateZ(-45deg);
}

.lines {
    display: flex;
    justify-content: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    height: 25px;
    width: 25px;
}

.obstacle,
.obstacle:after,
.obstacle:before {
    content: "";
    float: left;
    height: 25px;
    position: absolute;
    width: 25px;
}
/* Top face */
.obstacle {
    background-size: cover;
    position: relative;
    border-radius: 2px;
    -webkit-transform: translateZ(25px);
    -webkit-transform-style: preserve-3d;
}
/* Left face */
.obstacle:after {
    background-image: inherit;
    background-size: cover;
    -webkit-transform: rotateX(-90deg) translateY(25px);
    -webkit-transform-origin: 100% 100%;
}
/* Right face */
.obstacle:before {
    background-image: inherit;
    background-size: cover;
    -webkit-transform: rotateY(90deg) translateX(25px);
    -webkit-transform-origin: 100% 0;
}

.weapon {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px white;
    border: 1px solid black;
    background-color: gray;
    background-size: cover;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.weapon:hover {
    border: 3px solid black;
    background-color: white;
    animation: spin 1s infinite;
}
@keyframes spin{
    0%{transform: rotateZ(0deg)}
    100%{transform: rotateZ(360deg)}
}

.player {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px blue;
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    /*transform: rotateZ(-45deg) rotateX(-45deg) translateZ(45px);*/
}

.cellToMove {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px black;
    border: 1px solid black;
}

.cellToMove:hover {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px white;
    border: 1px solid black;
    cursor: pointer;
}

@media (min-width: 576px) {
    #board {
        border: 5px solid #F2E6C2;
    }
    .cell {
        height: 30px;
        width: 30px;
    }
    .obstacle {
        -webkit-transform: translateZ(30px);
    }
    .obstacle,
    .obstacle:after,
    .obstacle:before {
        height: 30px;
        width: 30px;
    }
    .obstacle:before {
        -webkit-transform: rotateY(90deg) translateX(30px);
    }
    .obstacle:after {
        -webkit-transform: rotateX(-90deg) translateY(30px);
    }
}


@media (min-width: 768px) {
    #board {
        border: 7px solid #F2E6C2;
    }
    .cell {
        height: 35px;
        width: 35px;
    }
    .obstacle {
        -webkit-transform: translateZ(35px);
    }
    .obstacle,
    .obstacle:after,
    .obstacle:before {
        height: 35px;
        width: 35px;
    }
    .obstacle:before {
        -webkit-transform: rotateY(90deg) translateX(35px);
    }
    .obstacle:after {
        -webkit-transform: rotateX(-90deg) translateY(35px);
    }
}


@media (min-width: 992px) {
    #board {
        border: 10px solid #F2E6C2;
    }
    .cell {
        height: 40px;
        width: 40px;
    }
    .obstacle {
        -webkit-transform: translateZ(40px);
    }
    .obstacle,
    .obstacle:after,
    .obstacle:before {
        height: 40px;
        width: 40px;
    }
    .obstacle:before {
        -webkit-transform: rotateY(90deg) translateX(40px);
    }
    .obstacle:after {
        -webkit-transform: rotateX(-90deg) translateY(40px);
    }
}


@media (min-width: 1200px) {
    #board {
        border: 13px solid #F2E6C2;
    }
    .cell {
        height: 60px;
        width: 60px;
    }
    .obstacle {
        -webkit-transform: translateZ(60px);
    }
    .obstacle,
    .obstacle:after,
    .obstacle:before {
        height: 60px;
        width: 60px;
    }
    .obstacle:before {
        -webkit-transform: rotateY(90deg) translateX(60px);
    }
    .obstacle:after {
        -webkit-transform: rotateX(-90deg) translateY(60px);
    }
}




